.page{
    width: 480px;
    border: 2px solid black;
    border-radius: 16px;
    position: absolute;
    top: 200px;
    left: 35%;
    align-self: center;
    background-color: white;
}

#password-page, #register-page, #logout-page{
    display: none;
}

#login-header{
    text-align: center;
    margin: 64px auto;
    font-size: 48px;
    font-weight: bold;
}

#login-form{
    text-align: center;
}

#login-form label{
    text-align: left;
    font-size: 24px;
    width: 80%;
}
.login-input{
    width: 80%;
    height: 40px;
    margin: 8px auto 12px;
    border-bottom: 1px solid black;
    display: inline-block;
}

.login-input i{
    width: 10%;
    height: 80%;
    float: left;
}

#login-form input{
    height: 70%;
    float: left;
    width: 90%;
    border: 0;
}

#login-form button{
    width: 80%;
    margin: 16px 0;
    border-radius: 16px;
    height: 48px;
}

#login-otras-opciones{
    text-align: center;
}
#opciones-login{
    height: 120px;
    padding-left: 60px;
}
.opcion-login{
    float: left;
    width: 100px;
    margin: 0 8px;
    border-radius: 120px;
    border: 2px solid black;
}
.opcion-login img{
    width: 100%;
    height: 100%;
}

#login-body{
    background-image: url('./../img/bodega/bodega1.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 825px;
}

#login-sign-up-now{
    text-align: center;
    line-height: 8px;
    margin: 32px auto;
}
#mostrar-registro, #mostrar-inicio, #mostrar-password, #mostrar-logout{
    height: 32px;
}

#logout-page button{
    width: 80%;
    margin-left: 10%;
    margin-bottom: 16px;
    border-radius: 16px;
    height: 48px;
}