body, nav{
    background-color: beige;
}

nav a{
    font-size: 2em;
}

nav li{
    padding-right: 3em;
}

/* Tab Manager */
.lista-ventanas{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.lista-ventanas li{
    float: left;
}

.lista-ventanas li a{
    display: block;
    color: black;
    text-align: center;
    padding: 50px;
    padding-top: 70px;
    text-decoration: none;
    font-size: 2em;
}

.lista-ventanas li a:hover {
    cursor: pointer;
    background-color:floralwhite;
}

/* Imagen principal del inicio */
.imagen-principal img{
    width: 100%;
}
  
#wine-selection{
    background-image: url("../img/Viñas1.jpg");
    background-repeat:no-repeat;
    display: block;
    overflow: auto;
}
.wine-description{
    margin: auto;
    display: block;
}

#wine-selection h1{
    text-align: center;
}

.wine-preview{
    margin: 0 4%;
    width: 25%;
    float:left;
    position: relative;
    align-items: stretch;
    text-align: center;
}
.wine-preview button, .wine-preview img{
    margin: auto;
    width: 100%;
}

/* GALERIA */
div.gallery {
    border: 1px solid #ccc;
    margin: 0.2em auto;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    max-height: 15em;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
    overflow: hidden;
    height: 3em;
    background-color: white;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .responsive-gallery {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
  }
  
  @media only screen and (max-width: 700px) {
    .responsive-gallery {
      width: 49.99999%;
      margin: 6px 0;
    }
  }
  
  @media only screen and (max-width: 500px) {
    .responsive-gallery {
      width: 100%;
    }
  }
  
  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }