body{
    background-color: white;
}

/* Tab Manager */
.lista-ventanas{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.lista-ventanas li{
    float: left;
}

.lista-ventanas li a{
    display: block;
    color: black;
    text-align: center;
    padding: 50px;
    padding-top: 70px;
    text-decoration: none;
    font-size: 2em;
}

.lista-ventanas li a:hover {
    cursor: pointer;
    background-color:floralwhite;
}

/* Imagen principal del inicio */
.imagen-principal img{
    width: 100%;
}
  
#wine-selection{
    /*
    background-image: url("../img/Viñas1.jpg");
    background-repeat:no-repeat;
    */
    margin-top: 35em;
    background-color: white;
    display: block;
    overflow: auto;
}

.titania-logo{
    margin: 3em auto;
    display: block;
    width: 40%;
}

#wine-selection h1{
    text-align: center;
}

.wine-preview{
    margin: 0 6%;
    width: 20%;
    float:left;
    position: relative;
    align-items: stretch;
    text-align: center;
    display: none;
    margin-bottom: 1em;
}

.wine-preview button, .wine-preview img{
    width: auto;
}
.wine-preview button, .wine-preview p{
  padding: 0 2em;
  margin-left: 2em;
}

.wine-preview p{
  font-size: 1.2em;
  font-weight: 400;
  font-style: italic;
}

.wine-preview button a{
  text-decoration: none;
  color: black;
}

.wine-preview button:hover, .wine-preview a:hover{
  background-color: #777;
  color: white;
}


@media only screen and (max-width: 700px) {
  .wine-preview {
    width: 49.99999%;
    margin: 1em 0;
  }
}

@media only screen and (max-width: 500px) {
  .wine-preview {
    width: 100%;
  }
}

/* GALERIA */
.coleccion-fotos{
  display: inline-block;
  padding-bottom: 1em;
  padding-top: 36em;
}

div.gallery {
    border: 1px solid #ccc;
    margin: 0.2em auto;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    max-height: 15em;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
    overflow: hidden;
    height: 3em;
    background-color: white;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .responsive-gallery {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
  }
  
  @media only screen and (max-width: 700px) {
    .responsive-gallery {
      width: 49.99999%;
      margin: 6px 0;
    }
  }
  
  @media only screen and (max-width: 500px) {
    .responsive-gallery {
      width: 100%;
    }
  }
  
  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }

  /* FOOTER */
  #FooterLogo{
    margin: 2em auto;
    display: block;
    width: 30%;
  }

  #FooterList{
      display: inline-block;
  }

  .FooterItem{
    margin: 0 1em;
  }

  #redes-sociales{
      float: left;
      width: 20%;
  }
  
  #redes-sociales h6{
    margin-left: 3em;
  }
  #google-maps{
      float: left;
      width: 40%;
      height: 12em;
      padding-left: 1em;
      border-left: 1px solid #777;
      padding-right: 1em;
      border-right: 1px solid #777;
  }
  #footer-horas-desc{
      float: left;
      margin-left: 1em;
      width: 30%;
      text-align: center;
  }
  #footer-horas-desc{
    font-size: 1.25vw;
  }
  #redes-sociales h6,#footer-horas-desc h6{
    font-size: 1.5vw;
  }
  #footer-horas-desc h3{
    font-size: 2vw;
  }

  #salon-catas, #visita-bodega{
    float: left;
    width: 50%;
}


/* Top Nav */

#header-photo{
  position: absolute;
  top:0;
  left:0;
  height: 35em;
  width: 100%;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}
.header{
  position: absolute;
  width: 100%;
  padding: 0 2em;
  top:0;
  left: 0;
  background-color: rgba(0,0,0,0.3);
}
.header li a{
  color: black;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
}
.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}
.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  margin-left: 5rem;
}

.nav-link{
  font-size: 1.6rem;
  font-weight: 400;
  color: #475569;
}

.nav-link:hover{
  color: #482ff7;
}

.nav-logo img{
  height: 6em;
}
@media only screen and (max-width: 768px) {
  .nav-menu {
      position: fixed;
      left: -100%;
      top: 5rem;
      flex-direction: column;
      background-color: #fff;
      width: 100%;
      border-radius: 10px;
      text-align: center;
      transition: 0.3s;
      box-shadow:
          0 10px 27px rgba(0, 0, 0, 0.05);
  }

  .nav-menu.active {
      left: 0;
  }

  .nav-item {
      margin: 2.5rem 0;
  }

  .hamburger {
      display: block;
      cursor: pointer;
  }

.hamburger.active .bar:nth-child(2) {
      opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
  }

}


/* Páginas de los vinos */
.pagina-vino{
  display: inline-block;
  width: 100%;
  margin-top: 37em;
  margin-bottom: 2em;
}

.foto-vino{
  padding-left: 12.5%;
  width: 50%;
  height: 65em;
  float: left;
}

.foto-vino img{
  margin: 5em 0;
  margin-left: 5em;
  height: 90% ;
}

.descripcion-vino{
  text-align: left;
  float: left;
  width: 50%;
}

.descripcion-vino h4{
  font-family: 'Courier New', Courier, monospace;
  margin-bottom: 2em;
}

.caracteristicas-vino{
  list-style: none;  
  line-height: 1.1em;
}
.caracteristicas-vino li{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 70%;
  margin: 0.75em 0;
}
.caracteristicas-vino li i{
  float: left;
  width: 20%;
}
.caracteristicas-vino p{
  float: right;
  width: 80%;
}

.descripcion-vino button{
  margin: 0.25em 30%;
  background-color: #86e0c2;
}
.descripcion-vino button a{
  text-decoration: none;
  color: black;
}

.titania-blanco i{
  color:#86e0c2;
}

#grad-div {
  background-image: linear-gradient(white, whitesmoke);
  width: 100%;
}

.linea-hr{
  color: #777;
  margin: 0 100px;
}

/* Carrusel */
.carousel-item{
  height: 40em;
  width: 100%;
}
.carousel-item img{
  height: 40em;
  width: 100%;
  object-fit: cover;

}
#carouselExampleControls{
  margin-top: 3em;
}

@media only screen and (max-width: 900px) {
  .carousel-item {
    width: 100%;
    height: 20em;
  }
  .carousel-item img{
    width: 100%;
    height: 20em;
  }
}

@media only screen and (max-width: 700px) {
  .carousel-item {
    width: 100%;
    height: 10em;
  }
  .carousel-item img{
    width: 100%;
    height: 10em;
  }
}


@media only screen and (max-width: 500px) {
  .carousel {
    width: 100%;
  }
  .carousel-item {
    width: 100%;
    height: 5em;
  }
}

/* Google Maps*/
.mapouter{
  position:relative;
  text-align:right;
  height:11em;
  width:auto;
}
.gmap_canvas {
  overflow:hidden;
  background:none!important;
  height: 11em;
  width: auto;
}

/* Formulario Login */
.formulario-login{
  padding: 5em;
  orientation: vertical;
}

input[type=email], 
input[type=password], 
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/* Style the submit button */
input[type=submit] {
  width: 100%;
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Add a background color to the submit button on mouse-over */
input[type=submit]:hover {
  background-color: #45a049;
}
#password-olvidada{
  padding-left: 10em;
  /* Cambiar tamaño de la letra */
}

/* TEST */

.forms-out {
  margin: 0 auto;
  margin-top: 35em;
  font-family: "Fira Sans", sans-serif;
  padding: 1em 0;
}
.forms-in {
  width: 93%;
  margin: 0 auto;
  color: black;
  padding: 1em 0;
}
.forms-in div {
  padding: 2em 1.3em;
  max-width: 40em;
  margin: 0 auto;
  background: white;
  border-radius: 1em;
  margin-bottom: 5em;
  text-align: center;
}
.forms-in h3 {
  text-align: center;
  margin: 0 0 1em 0;
}
.forms-in input {
  border: none;
  width: 100%;
  margin-bottom: 1em;
  padding: 0.6em;
  border: 0.01em black solid;
  box-sizing: border-box;
  border-radius: 0.2em;
}

.forms-in button {
  border: none;
  padding: 0.5em 1.3em;
  background: #c3f6c3;
  color: black;
  border-radius: 0.25em;
  cursor: pointer;
  font-weight: bold;
}

.forms-in button:hover {
  opacity: 0.7;
}

.hide {
  display: none;
}

#forgot-password, #ya-registrado, #todavia-no-registrado {
  text-align: center;
  font-size: 1em;
  cursor: pointer;
}

#forgot-password:hover, #ya-registrado:hover, #todavia-no-registrado:hover {
  opacity: 0.7; 
}

#datos-reserva{
  margin: 3em auto;
  margin-top: 38em;
  width: 20%;
  border: 0.1em solid black;
  padding: 1em;
  text-align: center;
}

#datos-reserva-realizada{
  margin: 3em auto;
  width: 50%;
  border: 0.1em solid black;
  padding: 1em;
  text-align: center;
}

.info-reserva{
  font-weight: bold; 
}

#realizarReservaForm{
  max-width: 40em;
  margin: auto;
  min-width: 10em;
  text-align: center;
}

.realizar-reserva-div{
  margin: auto;
  max-width: 40em;
  border: 0.1em solid black;
  text-align: center;
}
.realizar-reserva-div input[type=number],.realizar-reserva-div input[type=datetime-local]{
  width: 60%;
  margin: 0 20% 1em 20%;
}
.realizar-reserva-div button{
  margin: 1em 25% 0.5em 25%;
  width: 50%;
}
.realizar-reserva-div label{
  font-weight: bold;
}
.realizar-reserva-div input[type=submit]{
  width: 60%;
  margin: 0 20% 1em 20%;
  
}
.option{
  font-weight: 400 !important;
}

/* Paginas Vino */
.icono-vinos img{
  width: 4em;
}
.cambiar-color-verde{
  filter: invert(94%) sepia(50%) saturate(573%) hue-rotate(79deg) brightness(97%) contrast(80%);
}
.cambiar-color-rosado{
  filter: invert(37%) sepia(12%) saturate(2933%) hue-rotate(314deg) brightness(122%) contrast(111%);
}
.cambiar-color-azul{
  filter: invert(8%) sepia(38%) saturate(6935%) hue-rotate(208deg) brightness(97%) contrast(107%);
}

#boton-cata-tinto{
  background-color: #001f55;
  color: white;
}
#boton-cata-tinto a{
  color: white;
}

#boton-cata-blanco:hover{
  background-color: white;
}
#boton-cata-blanco a:hover{
  color: #86e0c2;
}
#boton-cata-blanco a{
  color: white;
}

#boton-cata-tinto:hover{
  background-color: white;
}
#boton-cata-tinto a:hover{
  color: #001f55;
}
.descripcion-vino h4{
  font-weight: 550;
}
#boton-cata-rosado{
  background-color: #fc504e;
  color: white;
}
#boton-cata-rosado a{
  color: white;
}
#boton-cata-rosado a:hover{
  color: #fc504e;
}
#boton-cata-rosado:hover{
  background-color: white;
}
.descripcion-vino button:hover{
  background-color: white;
}

.contenido{
  margin: 2em 1em;
  margin-top: 37em;
}